*~
*#

.Rhistory
.Rproj.user

# Backup files
*-BKUP

Khan_Login
pfSense_Filters

GenAccAtom.css
Insite.css
InteractiveBrowser.css
InteractiveViewer1.css
IronPort.css
OutlookCalendar.css
SlashdotClassic2.0.css
School.css
TASSearch.css
Detect_Web_Filter

=======
.#*

ts
