@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("washingtonpost.com") {
    #header-v3, #newsharebarMasthead, #right-rail, .posttv-your-three-container,
    .pb-f-page-share-bar, .pb-f-page-recommended-strip, .pb-f-games-gamesWidget,
    .pb-f-page-trending-strip, .posttv-video-embed, .inline-video, #wp-header, 
    .pb-f-page-comments, .pb-f-page-newsletter-inLine, .pb-f-page-footer-v2,
    .pb-f-sharebars-top-share-bar, #page, .chain-button, #botPromoStrip,
    #brand-wrapper,  #wrapperMainRight, #content_column_tools, .inline-video,
    #NN-module-sidebar, #NN-module-footer, .partners, #footer-v3,
    .tos,  #wrapperTop, #tsPostPolitics, #secondary, #menu-share-float,
    .pb-f-most-sidebar, .next-story-wrapper

    { 
        display : none ! important; 
    }

    #main-content { 
        width: 100% ! important; 
        border-right: none ! important; 
        background-image: none ! important; 
    }
    /* .unprocessed { filter : unset ! important;} */
}