
QTabBar::tab {
    background: #eeeeee;
    color: navy;
}


QTabBar::tab:selected {
    background: yellow;
    color: blue;
    font: bold;
}


/* via https://doc.qt.io/qt-4.8/stylesheet-examples.html */
QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #C2C7CB;
}
QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}
QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}
QTabBar::tab {
    border: 1px solid #C4C4C3;
    border-bottom-color: #C2C7CB; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}
