<UserScriptConfig>
	<Script basedir="All_Recipes_TiddlyWiki" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="all_recipes_tiddlywiki.user.js" installTime="1334273818788" modified="1500139095000" name="All Recipes TiddlyWiki" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="c9306417-ed56-4664-befe-9869b2623b96" version="null" installurl="file:///home/tilfordc/.mozilla/firefox/stndProfile/gm_scripts/all_recipes_tiddlywiki/all_recipes_tiddlywiki.user.js" updateurl="file:///home/tilfordc/.mozilla/firefox/stndProfile/gm_scripts/all_recipes_tiddlywiki/all_recipes_tiddlywiki.user.js">
		<Grant>none</Grant>
		<Include>http://allrecipes.com/Recipe/*</Include>
	</Script>
	<Script basedir="USDA_Post_to_Get" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="usda_post_to_get.user.js" installTime="1334273835519" modified="1500137867000" name="USDA Post to Get" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="e96f2ba3-768b-447d-ae88-39e2e8e83509" version="null" installurl="file:///home/tilfordc/.mozilla/firefox/stndProfile/gm_scripts/usda_post_to_get/usda_post_to_get.user.js" updateurl="file:///home/tilfordc/.mozilla/firefox/stndProfile/gm_scripts/usda_post_to_get/usda_post_to_get.user.js">
		<Grant>none</Grant>
		<Include>http://www.nal.usda.gov/fnic/foodcomp/cgi-bin/nut_search_new.pl</Include>
	</Script>
	<Script basedir="Filter_BarnesNoble" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Filter_BarnesNoble.user.js" installTime="1334352730167" modified="1500135300000" name="Filter BarnesNoble" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="e519602f-1e65-49f3-91fd-e21a0265203f" version="null" updateurl="null">
		<Grant>none</Grant>
		<Include>http://*barnesandnoble.com/*</Include>
	</Script>
	<Script basedir="Filter_Walmart_DVDs" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Filter_Walmart_DVDs.user.js" installTime="1334366804493" modified="1500135300000" name="Filter Walmart DVDs" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="08c8e9a4-b9fa-48b7-9a70-088ce4ad8eda" version="null" updateurl="null">
		<Grant>none</Grant>
		<Include>http://www.walmart.com/*</Include>
	</Script>
	<Script basedir="Modify_GOG" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Modify_GOG.user.js" installTime="1347923772800" modified="1500137371000" name="Modify GOG" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="8b9f2e79-40ea-4ad9-a715-ab8e2dfcb8c8" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Modify_GOG/Modify_GOG.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Modify_GOG/Modify_GOG.user.js">
		<Grant>none</Grant>
		<Include>https://www.gog.com/en/gamecard/*</Include>
		<Include>https://www.gog.com/gamecard/*</Include>
		<Include>https://www.gog.com/game/*</Include>
		<Include>https://www.gog.com/mix/*</Include>
		<Include>https://www.gog.com/games*</Include>
		<Include>https://secure.gog.com/gamecard/*</Include>
	</Script>
	<Script basedir="Reddit_Comments" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Reddit_Comments.user.js" installTime="1353721202523" modified="1500138614000" name="Reddit Comments" namespace="http://www.tilford.net/" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="e0c7f9a2-11fc-4beb-b661-690ef1bf8307" version="null" installurl="file:///home/intranet/nas/UserData/Win7/Documents/Mozilla/Charles/CharlesFirefoxProfile/gm_scripts/Reddit_Comments/Reddit_Comments.user.js" updateurl="file:///home/intranet/nas/UserData/Win7/Documents/Mozilla/Charles/CharlesFirefoxProfile/gm_scripts/Reddit_Comments/Reddit_Comments.user.js">
		<Grant>none</Grant>
		<Include>http://www.reddit.com/*/comments/*</Include>
		<Include>http://np.reddit.com/*/comments/*</Include>
		<Include>https://np.reddit.com/*/comments/*</Include>
		<Include>http://www.reddit.com/user/*</Include>
		<Include>https://www.reddit.com/*/comments/*</Include>
		<Include>https://www.reddit.com/comments/*</Include>
		<Include>https://www.reddit.com/user/*</Include>
		<Include>https://www.reddit.com/r/*</Include>
	</Script>
	<Script basedir="NewEgg_Filter" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="NewEgg_Filter.user.js" installTime="1354838846284" modified="1500135300000" name="NewEgg Filter" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="87690bde-d97e-494f-a53e-548eb54a68c9" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/NewEgg_Filter/NewEgg_Filter.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/NewEgg_Filter/NewEgg_Filter.user.js">
		<Grant>none</Grant>
		<Include>http://*.newegg.com/*</Include>
	</Script>
	<Script basedir="Disqus_Filter" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Disqus_Filter.user.js" installTime="1356615048520" modified="1500137090000" name="Disqus Filter" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="125119f6-0c1c-48d1-9558-65ef7985cea2" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Disqus_Filter/Disqus_Filter.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Disqus_Filter/Disqus_Filter.user.js">
		<Grant>none</Grant>
		<Include>http://disqus.com/*</Include>
	</Script>
	<Script basedir="Single_Page_News" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Single_Page_News.user.js" installTime="1361877171753" modified="1500137789000" name="Single Page News" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="a2d5493e-2ed2-4a61-a0b1-982fc2c08e27" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Single_Page_News/Single_Page_News.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Single_Page_News/Single_Page_News.user.js">
		<Grant>none</Grant>
		<Include>http://www.washingtonpost.com/*.html</Include>
		<Include>https://www.washingtonpost.com/*.html</Include>
		<Include>http://abcnews.go.com/*</Include>
	</Script>
	<Script basedir="Google_Allrecipes" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Google_Allrecipes.user.js" installTime="1362845761996" modified="1500137174000" name="Google Allrecipes" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="3286d089-9cf0-48c4-929d-db025b7552c4" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Google_Allrecipes/Google_Allrecipes.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Google_Allrecipes/Google_Allrecipes.user.js">
		<Grant>none</Grant>
		<Include>http://www.google.com/search?*allrecipes.com*</Include>
		<Include>https://www.google.com/search?*allrecipes.com*</Include>
		<Include>https://encrypted.google.com/search?*allrecipes.com*</Include>
	</Script>
	<Script basedir="Humble_Store" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Humble_Store.user.js" installTime="1387636822000" modified="1500137198000" name="Humble Store" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="dc028c07-1462-4814-8593-154c0533f88e" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Humble_Store/Humble_Store.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Humble_Store/Humble_Store.user.js">
		<Grant>GM_log</Grant>
		<Include>https://www.humblebundle.com/store/*</Include>
		<Include>https://www.humblebundle.com/store</Include>
	</Script>
	<Script basedir="Politico_One_Page" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Politico_One_Page.user.js" installTime="1500139553000" modified="1500139553000" name="Politico One Page" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="8deedef8-e7ad-4970-933c-321285ffcea0" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Politico_One_Page/Politico_One_Page.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Politico_One_Page/Politico_One_Page.user.js">
		<Grant>none</Grant>
		<Include>http://www.politico.com/*</Include>
	</Script>
	<Script basedir="DeviantArt" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="DeviantArt.user.js" installTime="1421003733000" modified="1500137030000" name="DeviantArt" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="24dc6f9c-8ee8-42a3-8eb7-e09314fbbf3a" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/DeviantArt/DeviantArt.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/DeviantArt/DeviantArt.user.js">
		<Grant>none</Grant>
		<Include>http://*.deviantart.com/art/*</Include>
	</Script>
	<Script author="zanetu" basedir="Direct_Google" checkRemoteUpdates="1" dependhash="1327e6efbbfbab7cec5ff953de39ef6c41d3842b" description="Removes Google redirects and exposes &quot;Cached&quot; links." enabled="true" filename="Direct_Google.user.js" installTime="1433683722000" modified="1500135300000" name="Direct Google" namespace="http://userscripts.org/users/92143" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="aac2ed17-8ee2-4a17-a5aa-741393b58b65" version="2.3" installurl="file:///home/tilfordc/confFiles/gm_scripts/Direct_Google/Direct_Google.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Direct_Google/Direct_Google.user.js">
		<Grant>GM_addStyle</Grant>
		<Include>/^https?\:\/\/(www|news|maps|docs|cse|encrypted)\.google\./</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="NJ.com_image_adder" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="nj.com image" enabled="true" filename="NJ.com_image_adder.user.js" installTime="1461468951000" modified="1500136681000" name="NJ.com image adder" namespace="Foo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="6a19ee52-631f-432b-b731-1ecd60db71ba" version="1" installurl="file:///home/tilfordc/.mozilla/firefox/oyv5676g.default/gm_scripts/NJ.com_image_adder/NJ.com_image_adder.user.js" updateurl="file:///home/tilfordc/.mozilla/firefox/oyv5676g.default/gm_scripts/NJ.com_image_adder/NJ.com_image_adder.user.js">
		<Grant>none</Grant>
		<Include>http://www.nj.com/*</Include>
	</Script>
	<Script basedir="The_Atlantic" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="The_Atlantic.user.js" installTime="1467388093000" modified="1500137815000" name="The Atlantic" namespace="Foo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="5034e16f-4f3e-4800-a090-8d1e0b2c2b22" version="1" installurl="file:///home/tilfordc/.mozilla/firefox/oyv5676g.default/gm_scripts/The_Atlantic/The_Atlantic.user.js" updateurl="file:///home/tilfordc/.mozilla/firefox/oyv5676g.default/gm_scripts/The_Atlantic/The_Atlantic.user.js">
		<Grant>none</Grant>
		<Include>http://www.theatlantic.com/*</Include>
	</Script>
	<Script basedir="Amazon_Review_Scanner" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Amazon_Review_Scanner.user.js" installTime="1500138834000" modified="1500135300000" name="Amazon Review Scanner" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="4d7dca31-a05c-403d-8d06-c612608baab3" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Amazon_Review_Scanner/Amazon_Review_Scanner.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Amazon_Review_Scanner/Amazon_Review_Scanner.user.js">
		<Grant>none</Grant>
		<Include>https://www.amazon.com/*</Include>
	</Script>
	<Script basedir="Filter_Amazon_DVDs" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Filter_Amazon_DVDs.user.js" installTime="1500138866000" modified="1500135300000" name="Filter Amazon DVDs" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="81325976-dbec-49b3-9c0d-08ae2087f69e" version="null" installurl="file:///home/tilfordc/confFiles/gm_scripts/Filter_Amazon_DVDs/Filter_Amazon_DVDs.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Filter_Amazon_DVDs/Filter_Amazon_DVDs.user.js">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_log</Grant>
		<Include>http://www.amazon.com/*</Include>
	</Script>
	<Script basedir="ixQuick_Repoint_Image_Links" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="ixQuick_Repoint_Image_Links.user.js" installTime="1500138923000" modified="1500137239000" name="ixQuick Repoint Image Links" namespace="http://www.tilford.net/" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="6093a08a-2da0-4f73-b0a3-89957ae464eb" version="null" installurl="file:///home/tilfordc/confFiles/gm_scripts/ixQuick_Repoint_Image_Links/ixQuick_Repoint_Image_Links.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/ixQuick_Repoint_Image_Links/ixQuick_Repoint_Image_Links.user.js">
		<Grant>none</Grant>
		<Include>https://ixquick.com/do/search?*cat=pics*</Include>
	</Script>
	<Script basedir="Pinterest" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Pinterest.user.js" installTime="1500139479000" modified="1500136693000" name="Pinterest" namespace="TOR" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="930f0ee9-3ff4-4614-a8bc-df93e9117434" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Pinterest/Pinterest.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Pinterest/Pinterest.user.js">
		<Grant>none</Grant>
		<Include>https://www.pinterest.com/pin/*</Include>
		<Include>https://www.pinterest.com/*</Include>
	</Script>
	<Script basedir="Plastic_Soldier_Review" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Plastic_Soldier_Review.user.js" installTime="1500139497000" modified="1500136700000" name="Plastic Soldier Review" namespace="TOR" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="f96127f4-26a5-4b62-b1bd-3ef52a186037" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Plastic_Soldier_Review/Plastic_Soldier_Review.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Plastic_Soldier_Review/Plastic_Soldier_Review.user.js">
		<Grant>none</Grant>
		<Include>http://www.plasticsoldierreview.com/*</Include>
	</Script>
	<Script basedir="Tumblr_Direct_Image" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Tumblr_Direct_Image.user.js" installTime="1500139656000" modified="1500135300000" name="Tumblr Direct Image" namespace="tilford.net" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="490456c2-10d7-482a-aae1-23be13261aa0" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Tumblr_Direct_Image/Tumblr_Direct_Image.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Tumblr_Direct_Image/Tumblr_Direct_Image.user.js">
		<Grant>none</Grant>
		<Include>https://*.tumblr.com/image/*</Include>
	</Script>
	<Script basedir="Load_Lazy_Images" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Load_Lazy_Images.user.js" installTime="1500159867000" modified="1500460993000" name="Load_Lazy_Images" namespace="TOR" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="c1a5d6ee-1d3b-4a98-9bf3-e5ef07f7bdfd" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Load_Lazy_Images/Load_Lazy_Images.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Load_Lazy_Images/Load_Lazy_Images.user.js">
		<Grant>none</Grant>
		<Grant>GM_log</Grant>
		<Include>https://*washingtonpost.com/*</Include>
		<Include>https://www.nytimes.com*</Include>
		<Include>http://www.space.com/*</Include>
		<Include>https://*reuters.com/*</Include>
	</Script>
	<Script basedir="Tumblr_Image_set" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Tumblr_Image_set.user.js" installTime="1500161492000" modified="1500163041000" name="Tumblr_Image_set" namespace="TOR" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="1de9df7d-dadd-44f0-b2d3-25ced1e2726a" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Tumblr_Image_set/Tumblr_Image_set.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Tumblr_Image_set/Tumblr_Image_set.user.js">
		<Grant>none</Grant>
		<Include>https://*.tumblr.com/post/*</Include>
	</Script>
	<Script basedir="Instagram_Image" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Instagram_Image.user.js" installTime="1500162027000" modified="1500162732000" name="Instagram_Image" namespace="TOR" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="b1836fd1-4521-4db5-94a5-3ab2bb0cd15f" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/Instagram_Image/Instagram_Image.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/Instagram_Image/Instagram_Image.user.js">
		<Grant>none</Grant>
		<Include>https://www.instagram.com/p/*</Include>
	</Script>
	<Script basedir="BBC_Image" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="BBC_Image.user.js" installTime="1500288478000" modified="1500288632000" name="BBC_Image" namespace="TOR" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="9ce42310-b75a-4a0a-9529-14bef87f8576" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/BBC_Image/BBC_Image.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/BBC_Image/BBC_Image.user.js">
		<Grant>none</Grant>
		<Include>http://*.bbc.com/news/*</Include>
	</Script>
	<Script basedir="Soylent" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="Soylent.user.js" installTime="1500300090000" modified="1500332685000" name="Soylent" namespace="*" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="545a5939-f43e-4edc-96da-a991d44a028a" version="1" installurl="file:///home/tilfordc/firefoxProfile/gm_scripts-BKUP/Soylent/Soylent.user.js" updateurl="file:///home/tilfordc/firefoxProfile/gm_scripts-BKUP/Soylent/Soylent.user.js">
		<Grant>none</Grant>
		<Include>http://soylentnews.org/*</Include>
		<Include>https://soylentnews.org/*</Include>
	</Script>
	<Script basedir="StackExchange" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="StackExchange.user.js" installTime="1500300148000" modified="1500332685000" name="StackExchange" namespace="*" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="ccf937bd-1a07-45bb-850d-de5f53faa414" version="1" installurl="file:///home/tilfordc/firefoxProfile/gm_scripts-BKUP/StackExchange/StackExchange.user.js" updateurl="file:///home/tilfordc/firefoxProfile/gm_scripts-BKUP/StackExchange/StackExchange.user.js">
		<Grant>none</Grant>
		<Include>https://*.stackexchange.com/*</Include>
		<Include>https://serverfault.com/*</Include>
		<Include>https://stackoverflow.com/*</Include>
		<Include>https://superuser.com/*</Include>
	</Script>
	<Script basedir="ReaperImgAllLarge" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="ReaperImgAllLarge.user.js" installTime="1500396343000" modified="1500436526000" name="ReaperImgAllLarge" namespace="*" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="076be33a-bc8a-4c14-8a85-6302b7ae5a32" version="1" installurl="file:///home/tilfordc/confFiles/gm_scripts/ReaperImgAllLarge/ReaperImgAllLarge.user.js" updateurl="file:///home/tilfordc/confFiles/gm_scripts/ReaperImgAllLarge/ReaperImgAllLarge.user.js">
		<Grant>none</Grant>
		<Include>https://www.reapermini.com/InspirationGallery/*</Include>
	</Script>
</UserScriptConfig>